<h1>pdf2</h1>
<p>pdfsrc---{{pdfsrc}}</p>

<iframe src="{{blobsrc}}"></iframe>
{{js-pdf src=blobsrc}}
<button {{action 'showpdf'}} >Show</button>
<button {{action 'downloadzip'}} >Download</button>

<a href={{zipsrc}}>Download</a>

<button {{action 'downloadFromByte'}} >Download from response</button>

{{yield}}
